@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #1a2b89;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header {
  width: 340px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .bgimage {
  position: absolute;
  top: 0;
}

header .logoC {
  width: 30%;
  margin: 5em 0;
}

h1,
h2,
h3 {
  color: #4c545d;
}

p {
  color: #9fabb2;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 2em 0em;
  gap: 1.5em;
}

.row button {
  width: 65%;
  padding: 1em 0em;
  color: white;
  border: none;
  border-radius: 3em;
  font-weight: bold;
  background-color: #6173ff;
  -webkit-box-shadow: -6px 6px 10px -2px #6173ff;
          box-shadow: -6px 6px 10px -2px #6173ff;
}

.row button:hover {
  opacity: 0.8;
  font-size: 0.9em;
  border: none;
  width: 70%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.row :first-child {
  background-color: #26baa4;
  -webkit-box-shadow: -6px 6px 10px -4px #26baa4;
          box-shadow: -6px 6px 10px -4px #26baa4;
}

.FirstSection,
.secondSection,
.ThirdSection {
  margin: 8em 0em;
}

.FirstSection img,
.secondSection img,
.ThirdSection img {
  width: 100%;
  margin: 3em 0;
}

.FirstSection h1,
.secondSection h1,
.ThirdSection h1 {
  font-size: 1.8em;
  margin-bottom: 1em;
}

.FirstSection p,
.secondSection p,
.ThirdSection p {
  margin-bottom: 1em;
}

.FirstSection h2,
.secondSection h2,
.ThirdSection h2 {
  margin-bottom: 0.5em;
}

.FirstSection .details p,
.secondSection .details p,
.ThirdSection .details p {
  margin-bottom: 2em;
}

.ThirdSection img {
  width: 15%;
}

.ForthSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
  margin-bottom: 8em;
}

.ForthSection img {
  width: 50%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8em;
  background-color: #f0f5f8;
  padding: 2em 0;
  gap: 2.5em;
}

footer img {
  width: 20%;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}

footer .links :last-child {
  font-size: 1.2em;
  font-weight: bold;
  color: #4c545d;
}

footer .links :last-child:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #26baa4;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .socialicons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

footer .socialicons i:hover {
  color: #26baa4;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #9fabb2;
  font-size: 1.2em;
}

main {
  width: 340px;
}

footer {
  width: 340px;
}
/*# sourceMappingURL=style.css.map */